In [59]:
import timeit
import pandas as pd
import datetime

## Reading and creating different sized files - Insurance

In [2]:
## Importing data from CSV
insurance_csv = pd.read_csv("Insurance.csv")
insurance_csv.head()

C:\Users\madhu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,plan_id,plan_name,state_code,issuer_id,issuer_name,business_year,federal_itin,age_group,tobacco_use,dependents_status,dependents_count,Premium,copay,yearly_deductible($),out_of_pocket_max($)
0,OL83AM65395,GOJPQBA VGGZM,AL,39714,ZATEZAWRWZ,2020,12-064787,0-20,Yes,Yes,1,2150,18%,3900,4869.0
1,VQ30AM10973,VMQDQWN TRBTP,AL,58550,GISHGFWWUF,2020,16-093230,0-20,Yes,Yes,1,2000,18%,2800,5225.0
2,GY56BW80061,HAWMSWS XKULY,AL,59200,YNGLKCOJOY,2020,14-072796,0-20,Yes,Yes,1,2050,18%,4300,5386.0
3,JK43LR87749,WCDFZLQ HNKJP,AL,26558,QKWZMYADEY,2020,13-072212,0-20,Yes,Yes,1,2100,18%,3100,5827.0
4,JL40ZP6801,PXRYWZR EWZXO,AL,35312,RSHMXCDBMV,2020,18-034062,0-20,Yes,Yes,1,2150,18%,4500,5220.0

In [3]:
insurance_1=insurance_csv.iloc[0:100_000]
insurance_2=insurance_csv.iloc[100_000:200_000]
insurance_3=insurance_csv.iloc[200_000:306_000]

In [4]:
len(insurance_1),len(insurance_2),len(insurance_3)

(100000, 100000, 106000)

## Reading and creating different sized files - Insurance

In [5]:
## Importing data from CSV
import pandas as pd
patient_csv = pd.read_csv("Patient.csv")
patient_csv.head()

,PatientID,First_Name,Last_Name,Gender,DOB,Age,Street,City,State,Zip,Home_Contact,Work_Contact,EmailID,Date_of_visit,No_of_Dependents,Tobacco_preference
0,JY-12010,Brian,Park,Male,1993/09/02,28,672 Carl Locks,Laurenton,NC,70844,574-628-6117,343-607-8917,zscpyib@xyz.com,2021/03/22,0,No
1,FW-93422,Matthew,Bentley,Male,1957/02/02,65,43044 Fred Highway,Christophermouth,MS,66817,373-142-3050,233-379-9895,aevspyx@xyz.com,2021/07/03,1,No
2,MW-43512,Denise,Scott,Female,1955/01/23,67,4184 Regina Ports,Melaniehaven,MT,56040,987-693-0106,585-641-9517,lkyaipz@xyz.com,2020/07/13,1,Yes
3,AO-22602,Morgan,Barrett,Female,2009/02/21,13,2344 Christopher Mountain Suite 887,Dustinborough,MT,27065,446-515-7598,167-621-0216,gxnrrvd@xyz.com,2020/06/21,2,No
4,PD-35838,Elizabeth,Sutton,Female,1987/06/06,34,2569 Walters Flat Suite 103,Kathybury,MA,23771,719-083-5473,957-481-4250,gsrwzxi@xyz.com,2020/10/31,0,Yes

In [6]:
patient_1=patient_csv.iloc[0:50_000]
patient_2=patient_csv.iloc[50_000:100_000]
patient_3=patient_csv.iloc[100_000:150_000]

In [7]:
len(patient_1),len(patient_2),len(patient_3)

(50000, 50000, 50000)

# RDS

### Importing the necessary packages & connecting to AWS RDS

In [ ]:
# db = pymysql.connect(host='rds-db.cqkowuzz8z4t.us-east-1.rds.amazonaws.com',user='admin', password='sqldb225')

In [60]:
import pymysql

db = pymysql.connect(host='rds-db.cqkowuzz8z4t.us-east-1.rds.amazonaws.com',user='admin', password='sqldb225')

cursor=db.cursor()
cursor

cursor.execute("select version()")

1

In [61]:
sql ='show databases'
cursor.execute(sql)
cursor.fetchall()

(('RDS225',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [62]:
sql='''use RDS225'''     ## database name
cursor.execute(sql)

0

In [63]:
sql='''show tables'''     ## tables
cursor.execute(sql)
cursor.fetchall()

(('Insurance',), ('Patients',), ('patients_interim',))

In [12]:
sql='''drop table Insurance'''     ## dropping tables
cursor.execute(sql)

0

In [13]:
sql='''drop TABLE Patients'''     ## dropping tables
cursor.execute(sql)

0

### Create necessary tables in database

#### Insurance

In [14]:
# Load the dataset into the SQL server, then perform experiments to load additional data

In [18]:
# Change this to accomodate the data to be loaded to sql
file_name=insurance_1

In [19]:
values1=list()
for r in range(0,len(file_name)):
    values1.append(tuple(list(file_name.iloc[r])))
print(values1[0:3])

[('OL83AM65395', 'GOJPQBA VGGZM', 'AL', 39714, 'ZATEZAWRWZ', 2020, '12-064787', '0-20', 'Yes', 'Yes', 1, 2150, '18%', 3900, 4869.0), ('VQ30AM10973', 'VMQDQWN TRBTP', 'AL', 58550, 'GISHGFWWUF', 2020, '16-093230', '0-20', 'Yes', 'Yes', 1, 2000, '18%', 2800, 5225.0), ('GY56BW80061', 'HAWMSWS XKULY', 'AL', 59200, 'YNGLKCOJOY', 2020, '14-072796', '0-20', 'Yes', 'Yes', 1, 2050, '18%', 4300, 5386.0)]

### Initial Load

In [20]:
sql='''create table Insurance (plan_id char(20),plan_name char(20),state_code char(3),issuer_id INT, issuer_name CHAR(15),business_year CHAR(4), federal_itin CHAR(10), age_group CHAR(5), tobacco_use CHAR(3), dependents_status CHAR(3), dependents_count CHAR(2), Premium INT, copay CHAR(5), yearly_deductible_$ INT, out_of_pocket_max_$ INT)'''
cursor.execute(sql)

0

In [21]:
query1="""insert into Insurance(plan_id, plan_name, state_code, issuer_id, issuer_name, business_year, federal_itin, age_group, tobacco_use, dependents_status, dependents_count, Premium, copay, yearly_deductible_$, out_of_pocket_max_$)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [24]:
# Execute SQL query for uploading all the rows at once
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
cursor.executemany(query1,values1)
db.commit()
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['RDS Create (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                       Operation  Time(in microsec)
0  RDS Create (Python) Insurance           22790882

## 2nd Load

In [43]:
query_2nd_load_ins="""insert into Insurance(plan_id, plan_name, state_code, issuer_id, issuer_name, business_year, federal_itin, age_group, tobacco_use, dependents_status, dependents_count, Premium, copay, yearly_deductible_$, out_of_pocket_max_$)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [44]:
file_name=insurance_2

In [46]:
values_2nd_load_ins=list()
for r in range(0,len(file_name)):
    values_2nd_load_ins.append(tuple(list(file_name.iloc[r])))
print(values2[0:3])

[('JY-12010', 'Brian', 'Park', 'Male', '1993/09/02', 28, '672 Carl Locks', 'Laurenton', 'NC', '70844', '574-628-6117', '343-607-8917', 'zscpyib@xyz.com', '2021/03/22', 0, 'No'), ('FW-93422', 'Matthew', 'Bentley', 'Male', '1957/02/02', 65, '43044 Fred Highway', 'Christophermouth', 'MS', '66817', '373-142-3050', '233-379-9895', 'aevspyx@xyz.com', '2021/07/03', 1, 'No'), ('MW-43512', 'Denise', 'Scott', 'Female', '1955/01/23', 67, '4184 Regina Ports', 'Melaniehaven', 'MT', '56040', '987-693-0106', '585-641-9517', 'lkyaipz@xyz.com', '2020/07/13', 1, 'Yes')]

In [53]:
# Execute SQL query for uploading all the rows at once
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
cursor.executemany(query_2nd_load_ins,values_2nd_load_ins)
db.commit()
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['RDS Create (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                       Operation  Time(in microsec)
0  RDS Create (Python) Insurance           19298745

## 3rd Load

In [64]:
query_3rd_load_ins="""insert into Insurance(plan_id, plan_name, state_code, issuer_id, issuer_name, business_year, federal_itin, age_group, tobacco_use, dependents_status, dependents_count, Premium, copay, yearly_deductible_$, out_of_pocket_max_$)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [65]:
file_name=insurance_3

In [66]:
values_3rd_load_ins=list()
for r in range(0,len(file_name)):
    values_3rd_load_ins.append(tuple(list(file_name.iloc[r])))
print(values2[0:3])

[('JY-12010', 'Brian', 'Park', 'Male', '1993/09/02', 28, '672 Carl Locks', 'Laurenton', 'NC', '70844', '574-628-6117', '343-607-8917', 'zscpyib@xyz.com', '2021/03/22', 0, 'No'), ('FW-93422', 'Matthew', 'Bentley', 'Male', '1957/02/02', 65, '43044 Fred Highway', 'Christophermouth', 'MS', '66817', '373-142-3050', '233-379-9895', 'aevspyx@xyz.com', '2021/07/03', 1, 'No'), ('MW-43512', 'Denise', 'Scott', 'Female', '1955/01/23', 67, '4184 Regina Ports', 'Melaniehaven', 'MT', '56040', '987-693-0106', '585-641-9517', 'lkyaipz@xyz.com', '2020/07/13', 1, 'Yes')]

In [67]:
# Execute SQL query for uploading all the rows at once
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
cursor.executemany(query_3rd_load_ins,values_3rd_load_ins)
db.commit()
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['RDS Create (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                       Operation  Time(in microsec)
0  RDS Create (Python) Insurance           21087581

#### Patient

In [25]:
file_name=patient_1

In [26]:
values2=list()
for r in range(0,len(file_name)):
    values2.append(tuple(list(file_name.iloc[r])))
print(values2[0:3])

[('JY-12010', 'Brian', 'Park', 'Male', '1993/09/02', 28, '672 Carl Locks', 'Laurenton', 'NC', '70844', '574-628-6117', '343-607-8917', 'zscpyib@xyz.com', '2021/03/22', 0, 'No'), ('FW-93422', 'Matthew', 'Bentley', 'Male', '1957/02/02', 65, '43044 Fred Highway', 'Christophermouth', 'MS', '66817', '373-142-3050', '233-379-9895', 'aevspyx@xyz.com', '2021/07/03', 1, 'No'), ('MW-43512', 'Denise', 'Scott', 'Female', '1955/01/23', 67, '4184 Regina Ports', 'Melaniehaven', 'MT', '56040', '987-693-0106', '585-641-9517', 'lkyaipz@xyz.com', '2020/07/13', 1, 'Yes')]

In [27]:
sql='''create table Patients (PatientID char(20), First_Name char(20), Last_Name char(20), Gender char(20), DOB char(20), Age char(20),Street char(20), City char(20), State char(20), Zip char(20), Home_Contact char(20), Work_Contact char(20),EmailID char(20), Date_of_visit char(20),No_of_Dependents char(20) , Tobacco_preference char(20))'''
cursor.execute(sql)

0

#### Initial Load

In [28]:
query2="""insert into Patients(PatientID, First_Name , Last_Name , Gender , DOB , Age ,Street , City , State , Zip , Home_Contact, Work_Contact,EmailID, Date_of_visit,No_of_Dependents,Tobacco_preference)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"""

In [29]:
# Execute SQL query for uploading all the rows at once
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
cursor.executemany(query2,values2)
db.commit()
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['RDS Create (Python) Patients'], "Time(in microsec)":[time_operation]})
df_time

                      Operation  Time(in microsec)
0  RDS Create (Python) Patients            8869830

## Second Load

In [147]:
query_2nd_load_pat="""insert into Patients(PatientID, First_Name , Last_Name , Gender , DOB , Age ,Street , City , State , Zip , Home_Contact, Work_Contact,EmailID, Date_of_visit,No_of_Dependents,Tobacco_preference)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"""

In [149]:
file_name=patient_2

In [150]:
values_2nd_load_pat=list()
for r in range(0,len(file_name)):
    values_2nd_load_pat.append(tuple(list(file_name.iloc[r])))
print(values_2nd_load_pat[0:3])

[('JY-12010', 'Brian', 'Park', 'Male', '1993/09/02', 28, '672 Carl Locks', 'Laurenton', 'NC', '70844', '574-628-6117', '343-607-8917', 'zscpyib@xyz.com', '2021/03/22', 0, 'No'), ('FW-93422', 'Matthew', 'Bentley', 'Male', '1957/02/02', 65, '43044 Fred Highway', 'Christophermouth', 'MS', '66817', '373-142-3050', '233-379-9895', 'aevspyx@xyz.com', '2021/07/03', 1, 'No'), ('MW-43512', 'Denise', 'Scott', 'Female', '1955/01/23', 67, '4184 Regina Ports', 'Melaniehaven', 'MT', '56040', '987-693-0106', '585-641-9517', 'lkyaipz@xyz.com', '2020/07/13', 1, 'Yes')]

In [151]:
# Execute SQL query for uploading all the rows at once
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
cursor.executemany(query_2nd_load_pat,values_2nd_load_pat)
db.commit()
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['RDS Create (Python) Patients'], "Time(in microsec)":[time_operation]})
df_time

                      Operation  Time(in Sec)
0  RDS Create (Python) Patients         60160

## Third Load

In [68]:
query_3rd_load_pat="""insert into Patients(PatientID, First_Name , Last_Name , Gender , DOB , Age ,Street , City , State , Zip , Home_Contact, Work_Contact,EmailID, Date_of_visit,No_of_Dependents,Tobacco_preference)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"""

In [69]:
file_name=patient_3

In [70]:
values_3rd_load_pat=list()
for r in range(0,len(file_name)):
    values_3rd_load_pat.append(tuple(list(file_name.iloc[r])))
print(values_3rd_load_pat[0:3])

[('ER-28126', 'Jesse', 'Hicks', 'Male', '1996/02/21', 26, '95100 Adrian Inlet Apt. 580', 'Davidbury', 'CA', '93452', '450-780-2902', '460-558-0856', 'tumzggp@xyz.com', '2020/05/13', 0, 'Yes'), ('RV-12980', 'Wyatt', 'Hahn', 'Male', '1985/12/20', 36, '1920 Schwartz Spurs Apt. 921', 'Wardbury', 'ID', '62287', '653-546-0835', '214-719-9318', 'cikdscy@xyz.com', '2020/04/21', 3, 'Yes'), ('GB-97255', 'Sarah', 'Hurley', 'Female', '2010/07/04', 11, 'PSC 5458, Box 6317', 'APO AA 12438', 'APO', 'AA', '504-289-2129', '173-182-6067', 'bbgwses@xyz.com', '2021/09/09', 1, 'No')]

In [71]:
# Execute SQL query for uploading all the rows at once
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
cursor.executemany(query_3rd_load_pat,values_3rd_load_pat)
db.commit()
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['RDS Create (Python) Patients'], "Time(in microsec)":[time_operation]})
df_time

                      Operation  Time(in microsec)
0  RDS Create (Python) Patients            9204519

In [31]:
# close cursor
cursor.close()

In [60]:
db.close()

# MongoDB

### Importing the necessary packages, connecting to MongoDB

In [32]:
from pymongo import MongoClient
import certifi

cluster = 'mongodb+srv://madhura:mongolearn3@cluster0.7mwof.mongodb.net/?retryWrites=true&w=majority'

client = MongoClient(cluster)

client.list_database_names()  ## gives dbs in mongo

['Mongo_225', 'admin', 'local']

In [33]:
db = client.Mongo_225   ## assigning db to variable
db.list_collection_names()  ## gives collections in db

['patient', 'insurance']

### Importing csv to MongoDB

In [34]:
patient_coll = db.patient     ## assigning collection names to variable
insurance_coll = db.insurance

#### Insurance

#### First Load

In [35]:
file_name='insurance_1.csv'

In [36]:
import json
import pandas as pd

ins_path = file_name
ins_data = pd.read_csv(ins_path)
ins_payload = json.loads(ins_data.to_json(orient='records'))
insurance_coll.delete_many({})

In [37]:
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
insurance_coll.insert_many(ins_payload)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Create (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                         Operation  Time(in microsec)
0  Mongo Create (Python) Insurance           47167119

In [38]:
insurance_coll.count_documents({})

100000

#### Second Load

In [54]:
file_name='insurance_2.csv'

ins_path = file_name
ins_data = pd.read_csv(ins_path)
ins_payload = json.loads(ins_data.to_json(orient='records'))

C:\Users\madhu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [55]:
time_start = datetime.datetime.now()
insurance_coll.insert_many(ins_payload)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Create (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                         Operation  Time(in microsec)
0  Mongo Create (Python) Insurance           39388866

In [58]:
insurance_coll.count_documents({})

200000

#### Third Load

In [72]:
file_name='insurance_3.csv'

ins_path = file_name
ins_data = pd.read_csv(ins_path)
ins_payload = json.loads(ins_data.to_json(orient='records'))

In [73]:
time_start = datetime.datetime.now()
insurance_coll.insert_many(ins_payload)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Create (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                         Operation  Time(in microsec)
0  Mongo Create (Python) Insurance           42812940

In [74]:
insurance_coll.count_documents({})

306000

#### Patient

#### First Load

In [39]:
file_name='patient_1.csv'

In [40]:
patient_path = file_name
patient_data = pd.read_csv(patient_path)
patient_payload = json.loads(patient_data.to_json(orient='records'))
patient_coll.delete_many({})

In [41]:
import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
patient_coll.insert_many(patient_payload)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Create (Python) Patients'], "Time(in microsec)":[time_operation]})
df_time

                        Operation  Time(in microsec)
0  Mongo Create (Python) Patients           20453047

In [70]:
patient_coll.count_documents({})

50000

#### Second Load

In [56]:
file_name='patient_2.csv'

patient_path = file_name
patient_data = pd.read_csv(patient_path)
patient_payload = json.loads(patient_data.to_json(orient='records'))

import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
patient_coll.insert_many(patient_payload)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Create (Python) Patients'], "Time(in microsec)":[time_operation]})
df_time

                        Operation  Time(in microsec)
0  Mongo Create (Python) Patients           21316794

In [57]:
patient_coll.count_documents({})

99112

#### Third Load

In [75]:
file_name='patient_3.csv'

patient_path = file_name
patient_data = pd.read_csv(patient_path)
patient_payload = json.loads(patient_data.to_json(orient='records'))

import datetime
iterations=1
df=pd.DataFrame()
time_start = datetime.datetime.now()
patient_coll.insert_many(patient_payload)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Create (Python) Patients'], "Time(in microsec)":[time_operation]})
df_time

                        Operation  Time(in microsec)
0  Mongo Create (Python) Patients           20127419

In [76]:
patient_coll.count_documents({})

149112

In [30]:
cursor.close()

db.close()