# RDS

In [29]:
import pandas as pd
import datetime

### Importing the necessary packages & connecting to AWS RDS

In [37]:
import pymysql

## connection string
db = pymysql.connect(host='rds-db.cqkowuzz8z4t.us-east-1.rds.amazonaws.com',user='admin', password='sqldb225')

cursor=db.cursor()
cursor

cursor.execute("select version()")

1

In [39]:
sql='''use RDS225'''     ## database name
cursor.execute(sql)

0

## Delete One

In [40]:
time_start = datetime.datetime.now()

sql = '''
delete from Patients
where PatientID ="TZ-45264"'''
cursor.execute(sql)
db.commit()

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Delete (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Delete (Python)             310836

## Delete Many

In [19]:
time_start = datetime.datetime.now()

sql = '''
delete from Patients
where State ="MS"'''
cursor.execute(sql)
db.commit()

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Delete (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Delete (Python)             262947

In [20]:
cursor.close()

db.close()

# Mongo

### Importing the necessary packages, connecting to MongoDB

In [41]:
from pymongo import MongoClient
import certifi
import pandas as pd

cluster = 'mongodb+srv://madhura:mongolearn3@cluster0.7mwof.mongodb.net/?retryWrites=true&w=majority'

client = MongoClient(cluster, tlsCAFile=certifi.where())

client.list_database_names()  ## gives dbs in mongo

['Mongo_225', 'admin', 'local']

In [42]:
db = client.Mongo_225   ## assigning db to variable
db.list_collection_names()  ## gives collections in db

['patient', 'insurance']

In [43]:
patient_coll = db.patient     ## assigning collection names to variable
insurance_coll = db.insurance

### Delete MongoDB

In [44]:
import datetime
time_start = datetime.datetime.now()

one=patient_coll.delete_one({"PatientID":"TZ-45264"})

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Delete (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Delete (Python)             207023

In [28]:
time_start = datetime.datetime.now()

many=patient_coll.delete_many({"State":"MS"})

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Delete (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Update (Python)             418640