# RDS

In [25]:
import pandas as pd
import datetime

### Importing the necessary packages & connecting to AWS RDS

In [26]:
import pymysql

## connection string
db = pymysql.connect(host='rds-db.cqkowuzz8z4t.us-east-1.rds.amazonaws.com',user='admin', password='sqldb225')

cursor=db.cursor()
cursor

cursor.execute("select version()")

1

In [27]:
sql ='show databases'
cursor.execute(sql)
cursor.fetchall()

(('RDS225',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [28]:
sql='''use RDS225'''     ## database name
cursor.execute(sql)

0

In [29]:
sql='''show tables'''     ## tables
cursor.execute(sql)
cursor.fetchall()

(('Insurance',), ('Patients',), ('patients_interim',))

### Insert RDS

#### Update one records where we need to add one dependent to a patient

In [14]:
time_start = datetime.datetime.now()

sql = '''
INSERT INTO RDS225.Patients 
(PatientID, First_Name, Last_Name, Gender, DOB, Age, Street, City, State, Zip, Home_Contact, Work_Contact, EmailID, Date_of_visit, No_of_Dependents, Tobacco_preference) 
VALUES ('TZ-45264', 'Naomi', 'Beyers', 'Female', '05-20-1989', '33', '436 Desfanco Street', 'Fahanand', 'NY', '57004', '852-862-7541', '457-842-6871', 'hisdy@xyz.com', '20-05-2021', '0', 'No')'''
cursor.execute(sql)
db.commit()

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Insert (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Update (Python)             185878

In [15]:
SQL_Query = pd.read_sql_query(
        '''select *
          from Patients
          where PatientID="TZ-45264"
          ''', db)

In [16]:
df = pd.DataFrame(SQL_Query)
df

,PatientID,First_Name,Last_Name,Gender,DOB,Age,Street,City,State,Zip,Home_Contact,Work_Contact,EmailID,Date_of_visit,No_of_Dependents,Tobacco_preference
0,TY-45264,Naomi,Beyers,Female,05-20-1989,33,436 Desfanco Street,Fahanand,NY,57004,852-862-7541,457-842-6871,hisdy@xyz.com,20-05-2021,0,No

In [18]:
cursor.close()

db.close()

Error: Already closed

# MongoDB

### Importing the necessary packages, connecting to MongoDB

In [19]:
from pymongo import MongoClient
import certifi
import datetime

cluster = 'mongodb+srv://madhura:mongolearn3@cluster0.7mwof.mongodb.net/?retryWrites=true&w=majority'

client = MongoClient(cluster, tlsCAFile=certifi.where())

client.list_database_names()  ## gives dbs in mongo
db = client["Mongo_225"]
patient = db.patient

In [23]:
item= {'PatientID':'TZ-45264', 'First_Name':'Naomi', 'Last_Name':'Beyers', 'Gender':'Female', 'DOB':'05-20-1989', 'Age':'33', 'Street':'436 Desfanco Street', 'City':'Fahanand', 'State':'NY', 'Zip':'57004', 'Home_Contact':'852-862-7541', 'Work_Contact':'457-842-6871', 'EmailID':'hisdy@xyz.com', 'Date_of_visit':'20-05-2021', 'No_of_Dependents':'0', 'Tobacco_preference':'No'}

In [24]:
time_start = datetime.datetime.now()
result = patient.insert_one(item)
time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))
df_time = pd.DataFrame({"Operation":['Mongo Insert (Python) Insurance'], "Time(in microsec)":[time_operation]})
df_time

                         Operation  Time(in microsec)
0  Mongo Insert (Python) Insurance              81425