# RDS

In [38]:
import pandas as pd
import datetime

### Importing the necessary packages & connecting to AWS RDS

In [51]:
import pymysql

## connection string
db = pymysql.connect(host='rds-db.cqkowuzz8z4t.us-east-1.rds.amazonaws.com',user='admin', password='sqldb225')

cursor=db.cursor()
cursor

cursor.execute("select version()")

1

In [40]:
sql ='show databases'
cursor.execute(sql)
cursor.fetchall()

(('RDS225',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [52]:
sql='''use RDS225'''     ## database name
cursor.execute(sql)

0

In [42]:
sql='''show tables'''     ## tables
cursor.execute(sql)
cursor.fetchall()

(('Insurance',), ('Patients',), ('patients_interim',))

### Update RDS

#### Update one records where we need to add one dependent to a patient

In [53]:
time_start = datetime.datetime.now()

sql = '''
UPDATE Patients
SET No_of_Dependents = No_of_Dependents+1
WHERE PatientID ="MW-43512"
'''
cursor.execute(sql)
db.commit()

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Update (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Update (Python)             520219

In [54]:
SQL_Query = pd.read_sql_query(
        '''select *
          from Patients
          where PatientID="MW-43512"
          ''', db)

In [55]:
df = pd.DataFrame(SQL_Query)
df

,PatientID,First_Name,Last_Name,Gender,DOB,Age,Street,City,State,Zip,Home_Contact,Work_Contact,EmailID,Date_of_visit,No_of_Dependents,Tobacco_preference
0,MW-43512,Denise,Scott,Female,1955/01/23,67,4184 Regina Ports,Melaniehaven,MT,56040,987-693-0106,585-641-9517,lkyaipz@xyz.com,2020/07/13,4,Yes

#### Update many records where we need to add one dependent to few of selected patients

In [29]:
time_start = datetime.datetime.now()

sql = '''
UPDATE Insurance
SET federal_itin =  replace(federal_itin,"-","")
where business_year=2020
'''
cursor.execute(sql)
db.commit()

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Update (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Update (Python)             686820

In [30]:
SQL_Query = pd.read_sql_query(
        '''select distinct federal_itin
          from Insurance
          where business_year=2020
          limit 10
          ''', db)
df = pd.DataFrame(SQL_Query)
df

  federal_itin
0     12064787
1     16093230
2     14072796
3     13072212
4     18034062
5     18079146
6     13010416
7     10058633
8     19066123
9     11028995

### Closing the cursor and database

In [46]:
cursor.close()

db.close()

# MongoDB

### Importing the necessary packages, connecting to MongoDB

In [47]:
from pymongo import MongoClient
import certifi
import datetime
import pandas as pd

cluster = 'mongodb+srv://madhura:mongolearn3@cluster0.7mwof.mongodb.net/?retryWrites=true&w=majority'

client = MongoClient(cluster, tlsCAFile=certifi.where())

client.list_database_names()  ## gives dbs in mongo

['Mongo_225', 'admin', 'local']

In [56]:
db = client.Mongo_225   ## assigning db to variable
db.list_collection_names()  ## gives collections in db

['patient', 'insurance']

In [49]:
patient_coll = db.patient     ## assigning collection names to variable
insurance_coll = db.insurance

### Update MongoDB

In [57]:
time_start = datetime.datetime.now()
result=patient_coll.update_one({"PatientID":"MW-43512"},{"$set":{"No_of_Dependents":"3"}})

time_end=datetime.datetime.now()
time_operation=int(((time_end - time_start).seconds * 1000000)+((time_end-time_start).microseconds))

df_time = pd.DataFrame({"Operation":['RDS Update (Python)'], "Time(in microsec)":[time_operation]})
df_time

             Operation  Time(in microsec)
0  RDS Update (Python)              86422